extends ../base-layout
append styles
    link(rel="stylesheet", href="/css/forms.css")
    link(rel="stylesheet", href="/css/auth.css")

block content
    include ../includes/navigation
    
    main
        if notAuth
            div
                h3.centered #{notAuth}
        if wrongInfo
            div
                h3.centered #{wrongInfo}
        form.login-form(action="/login", method="POST")
            .form-control
                label(for="email") Email
                input(type="email", name="email", value=`${oldEmail ? oldEmail : 'admin@test.com'}`)#email
                if validationErrors.length > 0
                    each err in validationErrors
                        if err.param === "email"
                            p.validation-error #{err.msg}
                            -break
            .form-control
                label(for="password") Senha
                input(type="password", name="password", value='admin')#password
                if validationErrors.length > 0
                    each err in validationErrors
                        if err.param === "password"
                            p.validation-error #{err.msg}
                            -break
            button.btn(type="submit") Entrar
            a(href="/reset") Esqueci minha senha
            input(type="hidden", name="_csrf", value=`${csrfToken}`)

    include ../includes/end