extends ../base-layout
append styles
    link(rel="stylesheet", href="/css/forms.css")
    link(rel="stylesheet", href="/css/auth.css")

block content
    include ../includes/navigation
    
    main
        form.login-form(action="/new-password", method="POST")
            .form-control
                label(for="password") New Password
                input(type="password", name="password")#password
                if validationErrors.length > 0
                        each err in validationErrors
                            if err.param === "password"
                                p.validation-error #{err.msg}
                                -break
            .form-control
                label(for="confirm-password") Confirm Password
                input(type="password", name="confirm-password")#confirm-password
                if validationErrors.length > 0
                        each err in validationErrors
                            if err.param === "confirm-password"
                                p.validation-error #{err.msg}
                                -break
            button.btn(type="submit") Reset Password
            input(type="hidden", name="_csrf", value=`${csrfToken}`)
            input(type="hidden", name="userId", value=`${userId}`)
            input(type="hidden", name="token", value=`${token}`)
    include ../includes/end