extends ../base-layout
append styles
    link(rel="stylesheet", href="/css/cart.css")

block content
    include ../includes/navigation

    main
        if products.length > 0
            .grid
                for prods in products
                    article.card.product-item
                        header.card__header.centered
                            h3.product__title #{prods.product.title}
                        .card__image(style="height: 10rem;")
                            img(src=`${prods.product.imageUrl}`, alt=`${prods.product.title}`)
                        .card__content.centered
                            h4.product__price $#{prods.product.price} (#{prods.quantity})
                            h4 Total: $#{prods.quantity*prods.product.price}
                .centered
                    h1 Total: $#{totalPrice}
                    button.btn(type="submit")#order-btn Ir para Pagamento
            script(src="https://js.stripe.com/v3/")
            script(nonce=`${nonce}`).
                var stripe = Stripe(!{JSON.stringify(process.env.STRIPE_PUBLIC).replace(/<\//g, '<\\/')});
                var orderBtn = document.getElementById('order-btn');
                orderBtn.addEventListener('click', function(){
                    stripe.redirectToCheckout({
                        sessionId: !{JSON.stringify(stripeSessionId).replace(/<\//g, '<\\/')}
                    });
                });
        else
            h1.centered Nenhum produto encontrado!

    include ../includes/end