extends ../base-layout
append styles
    link(rel="stylesheet", href="/css/cart.css")

block content
    include ../includes/navigation

    main
        if products.length > 0
            ul
                for prods in products
                    li #{prods.product.title} (#{prods.quantity})
            h3 Total: #{totalPrice}
            button.btn(type="submit")#order-btn Place Order!
            script(src="https://js.stripe.com/v3/")
            script(nonce=`${nonce}`).
                var stripe = Stripe(!{JSON.stringify(process.env.STRIPE_PUBLIC).replace(/<\//g, '<\\/')});
                var orderBtn = document.getElementById('order-btn');
                orderBtn.addEventListener('click', function(){
                    stripe.redirectToCheckout({
                        sessionId: !{JSON.stringify(stripeSessionId).replace(/<\//g, '<\\/')}
                    });
                });
        else
            h1.centered Nenhum produto encontrado!
            h3.centered Faça login para adicionar um novo produto

    include ../includes/end