extends ../base-layout

block content
    include ../includes/navigation
    main
        if orders.length > 0
            ul
                for order in orders
                    li
                        - var totalOrder = 0
                        for prod in order.products
                            - totalOrder += prod.product.price
                        h2 Pedido #{order.alias}: $#{totalOrder}
                        ul
                            for p in order.products
                                article.card 
                                    h4 #{p.product.title}(#{p.quantity}): $#{p.product.price}
        else
            h1 Nenhum pedido encontrado!

    include ../includes/end