extends ../base-layout
append styles
    link(rel="stylesheet", href="/css/product.css")

block content
    include ../includes/navigation

    main
        if prods.length > 0
            .grid
                each product in prods
                    article.card.product-item
                        header.card__header
                            h1.product__title #{product.title}
                        .card__image
                            img(src=`/${product.imageUrl}`, alt=`${product.title}`)
                        .card__content
                            h2.product__price $#{product.price}
                            p.product__description #{product.description}
                        .card__actions
                            if user
                                include ../includes/add-to-cart
            include ../includes/pagination
        else
            h1.centered Nenhum produto encontrado!
            h3.centered Faça login para adicionar um novo produto

    include ../includes/end